@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.wrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 20% 80%;
    grid-gap: 10px;
}

.item {
    background: #227093;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 18vw;
}

.hold_buttons {
    display: grid;
    height: 100%;
}

button {
    width: 18vw;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    color: black;
    background: #ff793f;
    font-size: 18px;
    font-family: Roboto;
    cursor: pointer;
}

button:hover {
    background: #f63737;
}

